* {
    vertical-align: baseline;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:root {
    --default-font: 'Open Sans', sans-serif;
    --fonte-datazp: 'Georgia', 'Times New Roman', Times, serif;
}

.corpo {
    background-color: #ffffff;
}

/*Início cabeçalho*/
.navbar {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
}

.navbar {

    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.nav-lista {
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
}

.nav-lista .lista-item {
    display: inline-block;
    padding: 15px 10px;

}

.navbar .link-lista {
    color: #444444;
    text-decoration: none;
    font-family: var(--default-font);
    font-size: 16px;
    line-height: 1.5rem;
    transition: .3s;
}

.link-lista:hover {
    color: #112cb4;
}

.favoritos {
    margin-right: 4rem;
    margin-left: 1%;
}

.favoritos:hover {
    color: #112cb4;
}

i {
    font-size: 30px;
    color: #444444;
}

.caixa-botao {
    display: block;
    padding: 0;
    margin: 0;
    width: max-content;
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, .5);
    cursor: pointer;
    position: relative;
    background-color: #28398a;
    padding: 4px 18px;
    border-radius: 4px
}

.botao-anuncie {
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    font-weight: 600;
    margin: 0 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
}

.botao-anuncie i {
    padding-left: 0.5em;
    color: #fff;
    font-size: 12px;
}

.w3-dropdown-hover {
    padding-left: 1em;
}

.w3-bar-item {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    color: #000;
}

.w3-dropdown-content {
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, .5);
}

/*Fim cabeçalho*/


/*Início mensagem*/
.w3-panel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.w3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.titulo-anuncie {
    color: #42519b;
    font-size: 25px;
    font-family: var(--default-font);
    text-decoration: none;
}

.w3-panel {
    font-size: 25px;
    line-height: 200%;
    word-break: break-word;
}

.paragrafo-anuncie {
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: 20px;
    line-height: 21px;
    font-family: var(--default-font);
    text-align: center;
    color: #42519b;
}

.w3-panels {
    padding-top: 5px;
    background-color: #28398a;
    border: 1px solid #28398a;
    width: 100%;
}

/*Fim Texto Mensgaem*/


/* Inicio Formulário */
.w3-panel-cards {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.formulario {
    padding: 20px;
}

label {
    color: #000;
    line-height: 200%;
    font-family: var(--default-font);
    font-size: 14px;
}

input,
select {
    background-color: rgba(226, 224, 224, 0.378);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 4px;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #000000;
    padding: 10px;
    width: 95%;
}

input:focus {
    outline: 0;
}

.tipo-imovel {
    width: 100%;
}

.w3-row {
    padding-bottom: 1em;
}

.numero-whatsapp {
    width: 100%;
}

.privacidade {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

.check-privacidade {
    width: auto;
}

.texto-privacidade {
    font-family: 'Segoe UI';
    font-size: 16px;
    color: #000;
    padding-left: 0.5em;
}

.link-privacidade {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

button {
    align-items: center;
    background-color: rgba(226, 224, 224, 0.378);
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 4px;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #000000;
    padding: 10px;
    width: 100%;
}

button:hover {
    background-color: #28398a;
    color: white;
}

/*Fim do formulario*/


.logo-footer {
    height: 50px;
}

.titulo-datazp {
    line-height: 120%;
    font-size: 12px;
    color: #393d47;
    text-align: center;
    background-color: #f3f3f3;
}

.texto-datazap {
    text-align: center;
    font-size: 24px;
    padding-top: 0.5em;
    line-height: 30px;
    color: #393d47;
    font-family: var(--default-font);
}


footer {
    background-color: #1d329b;
    color: #fff;
    text-align: left;
    
}

.caixa-logo{
    padding: 1em;
}

.grid-container {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 1em;
  }

  